extends _layout.pug

block content
  #home
    .header
      h1 {{ .Site.Title }}
    #app
      .toc
        | {{ range .Site.Pages.ByPublishedAt.Reverse }}
        | {{ if and (eq $.Page.Theme .Theme) (eq .Template "page.html") }}
        a.toc-row(href='{{.Route}}')
          .toc-row-title {{ .Title }}
          .toc-row-date {{ date "Monday, Jan _2 2006" .PublishedAt }}
        | {{ end }}
        | {{ end }}
